@import "./vars.css";
@import "./tailwind.css";

/* custom color for nprogress */
#nprogress {
  .bar {
    background: var(--nprogress-color, #29d);
  }
  
  .peg {
    box-shadow: 0 0 10px var(--nprogress-color, #29d), 0 0 5px var(--nprogress-color, #29d);
  }
}