// 颜色
$basic-color: #2c3e50;
$black: #000;
$white: #fff;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;
$red: #ee0a24;
$blue: #1989fa;
$orange: #ff976a;
$orange-dark: #ed6a0c;
$orange-light: #fffbe8;
$green: #07c160;

// flex弹性布局
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
);
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);
$flex-number: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6
);

// common css
.text-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.vw-100 {
  width: 100vw;
}
.h-100{
  height: 100%;
}
.vh-100{
  height: 100vh;
}